<html>
    <head>
        <title> Herrera Fabricating Inc.</title>
		<!-- this sets the page for responsive scaling -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            * {box-sizing: border-box;}
            body {margin: 0;}
            .header {background-color:rgb(165, 58, 58); padding:50px; text-align:center} /*syle the header*/
            .topnav {border:0px; background-color:#333; overflow:hidden; margin:auto; width: 100%; text-align: center;} /*syle the topnav*/
            .topnav a {float:none; display:block; color:#f2f2f2; text-align:center; padding:14px 1px; text-decoration:none;}
            .topnav a:hover {background-color:#f2f2f2; color:black; width: 100%;}
            
            #td {width: 16%; text-align: center; margin: 0; padding: 0;}
        </style>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	</head>
	<body align="center">
        <div class="header">
            <h1>Herrera Fabricating Inc.</h1>
        </div>
        <table class="topnav" cellspacing="0" cellpadding="0">
            <tr>
                <td id="td"><a href ="/customers">Customers</a></td>
                <td id="td"><a href ="/vehicles">Vehicles</a></td>
                <td id="td"><a href ="/services">Services</a></td>
                <td id="td"><a href ="/suppliers">Suppliers</a></td>
                <td id="td"><a href ="/employees">Employees</a></td>
                <td id="td"><a href ="/violations">Violations</a></td>
            </tr>
        </table>
        <form action="" method="post" id="frm">
            <p>
                <!--https://www.w3schools.com/tags/tag_datalist.asp-->
                <label for="customer">Customer</label>
                <select name="customer" id="customer">
                    {% for customer in customers[0:] %}
                    <option value="{{ customer[2] }}" >{{ customer }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <label for="vehicle">Vehicle</label>
                <select id="vehicle" name="vehicle" ></select>
            </p>
            <p>
                <label for="service">Service</label>
                <select name="service" id="service">
                    {% for service in services[0:] %}
                    <option value="{{ service }}" >{{ service }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <label for="employee">Employees</label>
                <select name="employee" id="employee">
                    {% for employee in employees[0:] %}
                    <option value="{{ employee }}" >{{ employee }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <label for="part">Part</label>
                <select name="part" id="part">
                    {% for part in parts[0:] %}
                    <option value="{{ part }}" >{{ part }}</option>"
                    {% endfor %}
                </select>
            </p>
            <p>
                <label for="supplier">Supplier</label>
                <select id="supplier" name="supplier" ></select>
            <p>
            <p>
                <label for="part">Payment</label>
                <select name="payment" id="payment">
                    {% for payment in payments[0:] %}
                    <option value="{{ payment }}" >{{ payment }}</option>
                    {% endfor %}
                </select>
            </p>
            <!-- <p>
                <label for="revenue">Revenue</label>
                <select name="revenue" id="revenue">
                    {% for revenue in revenues[0:] %}
                    <option value="{{ revenue }}" >{{ revenue }}</option>
                    {% endfor %}
                </select>
            </p> -->
            <p><input type="submit" value="Submit"></p>
        </form>
    </body>
    <script type="text/javascript">
        jQuery(function($) {
            function escapeRegExp(str) {
                return str.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1");
            }
            function replaceAll(str, find, replace) {
                return str.replace(new RegExp(escapeRegExp(find), 'g'), replace);
            }

            // customer and vehicle
            var str = "{{ data|safe }}"; 
            var new_str = replaceAll(str, "'", "\"");
            var vehicles = JSON.parse(new_str); 

            var $vehicles = $('#vehicle');
            $('#customer').change(function () {
                var customer = $(this).val(), lcns = vehicles[customer] || [];
                
                var html = $.map(lcns, function(lcn){
                    return '<option value="' + lcn + '">' + lcn + '</option>'
                }).join('');
                $vehicles.html(html)
            });

            // supplier and part
            var str1 = "{{ data1|safe }}"; 
            var new_str1 = replaceAll(str1, "'", "\"");
            var vehicles1 = JSON.parse(new_str1); 

            var $vehicles1 = $('#supplier');
            $('#part').change(function () {
                var part = $(this).val(), lcns = vehicles1[part] || [];
                
                var html = $.map(lcns, function(lcn){
                    return '<option value="' + lcn + '">' + lcn + '</option>'
                }).join('');
                $vehicles1.html(html)
            });
        });
    </script>
</html>
