<html>
    <head>
        <title> Herrera Fabricating Inc.</title>
		<!-- this sets the page for responsive scaling -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            * {box-sizing: border-box;}
            body {margin: 0;}
            .header {background-color:rgb(165, 58, 58); padding:50px; text-align:center} /*syle the header*/
            .topnav {border:0px; background-color:#333; overflow:hidden; margin:auto; width: 100%; text-align: center;} /*syle the topnav*/
            .topnav a {float:none; display:block; color:#f2f2f2; text-align:center; padding:14px 1px; text-decoration:none;}
            .topnav a:hover {background-color:#f2f2f2; color:black; width: 100%;}
            
            #td {width: 16%; text-align: center; margin: 0; padding: 0;}
	    #ahref {text-decoration: none; color: inherit;}
        </style>
	</head>
	<body>
        <div class="header">
            <h1><a href ="/" id="ahref">Herrera Fabricating Inc.</a></h1>
        </div>
        <table class="topnav" cellspacing="0" cellpadding="0">
            <tr>
                <td id="td"><a href ="/customers">Customers</a></td>
                <td id="td"><a href ="/vehicles">Vehicles</a></td>
                <td id="td"><a href ="/services">Services</a></td>
                <td id="td"><a href ="/suppliers">Suppliers</a></td>
                <td id="td"><a href ="/employees">Employees</a></td>
                <td id="td"><a href ="/violations">Violations</a></td>
            </tr>
        </table>
		<br><h3 align="center">Update Customer</h3>
        <form method="POST" action="" id="frm">
            <p>
                <select name="customer">
                    {% for customer in customers[0:] %}
                    <option value="{{ customer }}" >{{ customer }}</option>"
                    {% endfor %}
                </select>
            </p>
            <p>
                <!--https://stackoverflow.com/questions/32019733/getting-value-from-select-tag-using-flask-->
                <label for="tblname">Enter field to modify:</label>
                <select name="tblname" id="tblname" onChange="myFunction(value)">
                    <optgroup label="CUSTOMER CONTACT INFO"></optgroup>
                        <option value="Customer SET C_FNAME">First Name</option>
                        <option value="Customer SET C_LNAME">Last Name</option>
                        <option value="Customer SET C_BUSINESS_NAME">Business Name</option>
                        <option value="Customer SET C_ADDRESS_LINE1">Address Line 1</option>
                        <option value="Customer SET C_ADDRESS_LINE2">Address Line 2</option>
                        <option value="Customer SET C_CITY">City</option>
                        <option value="Customer SET STATE_NAME">State</option>
                        <option value="Customer SET C_ZIP">Zip Code</option>
                        <option value="Customer SET COUNTRY_NAME">Country</option>
                        <option value="Customer SET C_PHONE">Phone</option>
                        <option value="Customer SET C_EMAIL">Email</option>
                    <optgroup label="CUSTOMER TYPE"></optgroup>
                        <option value="Customer SET BUSINESS_ID">Type</option>
                    <optgroup label="CUSTOMER STATUS"></optgroup>
                        <option value="Customer SET ACTIVE_ID">Status</option>
                    <optgroup label="OPERATING STATE"></optgroup>
                        <option value="state">State</option>
                  </select>
                </p>
        </form>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </body>
    <script>
        var statuses = JSON.parse('{{ statuses | tojson | safe }}');
        var types = JSON.parse('{{ types | tojson | safe }}');
        var states = JSON.parse('{{ states | tojson | safe }}');
        var s = document.createElement("input");
        s.setAttribute("type", "submit");
        s.setAttribute("value", "Submit");
        //https://www.geeksforgeeks.org/how-to-create-a-form-dynamically-with-the-javascript/#:~:text=Approach%201%3A%20Use%20document.,body%3E%20element%20of%20the%20document.
        function myFunction(value) {
            if (value=="CUSTOMER SET ACTIVE_ID"){
                var select = document.createElement("select");
                select.name = "status";
                select.id = "status"; 
                for (i=0; i<=statuses.length-1; i++) {
                    option = document.createElement('option');
                    option.value = statuses[i];
                    option.text = statuses[i];
                    select.appendChild(option);
                }
                frm.appendChild(select);
                frm.appendChild(s);
            }
            else if (value=="CUSTOMER SET BUSINESS_ID"){
                var select = document.createElement("select");
                select.name = "type";
                select.id = "type"; 
                for (i=0; i<=types.length-1; i++) {
                    option = document.createElement('option');
                    option.value = types[i];
                    option.text = types[i];
                    select.appendChild(option);
                }
                frm.appendChild(select);
                frm.appendChild(s);
            }
            else if (value=="state"){
                var select = document.createElement("select");
                select.name = "state";
                select.id = "state"; 
                for (i=0; i<=states.length-1; i++) {
                    option = document.createElement('option');
                    option.value = states[i];
                    option.text = states[i];
                    select.appendChild(option);
                }
                frm.appendChild(select);
                frm.appendChild(s);
            }
            else {
                var x = document.createElement("INPUT");
                x.type = "text";
                x.name="value";
                frm.appendChild(x);
                frm.appendChild(s); 
            }     
        }
    </script>
</html>
