<html>
    <head>
        <title> Herrera Fabricating Inc.</title>
		<!-- this sets the page for responsive scaling -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            * {box-sizing: border-box;}
            body {margin: 0;}
            .header {background-color:rgb(165, 58, 58); padding:50px; text-align:center} /*syle the header*/
            .topnav {border:0px; background-color:#333; overflow:hidden; margin:auto; width: 100%; text-align: center;} /*syle the topnav*/
            .topnav a {float:none; display:block; color:#f2f2f2; text-align:center; padding:14px 1px; text-decoration:none;}
            .topnav a:hover {background-color:#f2f2f2; color:black; width: 100%;}
            
            #td {width: 16%; text-align: center; margin: 0; padding: 0;}
        </style>
	</head>
	<body>
        <div class="header">
            <h1>Herrera Fabricating Inc.</h1>
        </div>
        <table class="topnav" cellspacing="0" cellpadding="0">
            <tr>
                <td id="td"><a href ="/customers">Customers</a></td>
                <td id="td"><a href ="/vehicles">Vehicles</a></td>
                <td id="td"><a href ="/services">Services</a></td>
                <td id="td"><a href ="/suppliers">Suppliers</a></td>
                <td id="td"><a href ="/employees">Employees</a></td>
                <td id="td"><a href ="/violations">Violations</a></td>
            </tr>
        </table>
        <form method="POST" action="" id="frm">
            <p>
                <select name="vehicle">
                    {% for vehicle in vehicles[0:] %}
                    <option value="{{ vehicle }}" >{{ vehicle }}</option>"
                    {% endfor %}
                </select>
            </p>
            <p>
                <!--https://stackoverflow.com/questions/32019733/getting-value-from-select-tag-using-flask-->
                <label for="tblname">Enter field to modify:</label>
                <select name="tblname" id="tblname" onChange="myFunction(value)">
                        <option></option>
                    <optgroup label="VEHICLE"></optgroup>
                        <option value="VEHICLE SET V_VIN">VIN</option>
                        <option value="VEHICLE SET V_LICENSE_PLATE">License Plate</option>
                        <option value="VEHICLE SET V_YEAR">Year</option>
                        <option value="VEHICLE SET MAKE_ID">Make</option>
                        <option value="VEHICLE SET MODEL_ID">Model</option>
                        <option value="VEHICLE SET V_COLOR">Color</option>
                        <option value="VEHICLE SET CONDITION_ID">Condition</option>
                        <option value="VEHICLE SET ACTIVE_ID">Status</option>
                    <optgroup label="CUSTOMER"></optgroup>
                        <option value="CUSTOMER_VEHICLE SET CUSTOMER_ID">Customer</option>
                    <optgroup label="INSURANCE"></optgroup>
                        <option value="POLICY SET INSURANCE_ID">Insurance</option>
                        <option value="POLICY SET POLICY_ID">Policy</option>
                        <option value="POLICY SET EXPIRATION_DATE">Expiration</option>
                  </select>
                </p>
            
            
        </form>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </body>
    <script>
        var makes = JSON.parse('{{ makes | tojson | safe }}');
        var models = JSON.parse('{{ models | tojson | safe }}');
        var conditions = JSON.parse('{{ conditions | tojson | safe }}');
        var statuses = JSON.parse('{{ statuses | tojson | safe }}');
        var customers = JSON.parse('{{ customers | tojson | safe }}');
        var companies = JSON.parse('{{ companies | tojson | safe }}');
        var policies = JSON.parse('{{ policies | tojson | safe }}');
        var s = document.createElement("input");
        s.setAttribute("type", "submit");
        s.setAttribute("value", "Submit");
        //https://www.geeksforgeeks.org/how-to-create-a-form-dynamically-with-the-javascript/#:~:text=Approach%201%3A%20Use%20document.,body%3E%20element%20of%20the%20document.
        function myFunction(value) {
            if (value=="VEHICLE SET V_LICENSE_PLATE" || value=="VEHICLE SET V_COLOR" || value=="VEHICLE SET V_VIN"){
                var x = document.createElement("INPUT");
                x.type = "text";
                x.name="value";
                x.id="remove";
                frm.appendChild(x);
                frm.appendChild(s); 
            }
            if (value=="POLICY SET EXPIRATION_DATE"){
                var x = document.createElement("INPUT");
                x.type = "date";
                x.name="value";
                x.id="remove";
                frm.appendChild(x);
                frm.appendChild(s);
            }
            if (value=="VEHICLE SET MAKE_ID"){
                var select = document.createElement("select");
                select.name = "make";
                select.id = "make"; 
                for (i=0; i<=makes.length-1; i++) {
                    option = document.createElement('option');
                    option.value = makes[i];
                    option.text = makes[i];
                    select.appendChild(option);
                }
                frm.appendChild(select);
                frm.appendChild(s);
            }
            if (value=="VEHICLE SET MODEL_ID"){
                var select = document.createElement("select");
                select.name = "model";
                select.id = "model"; 
                for (i=0; i<=models.length-1; i++) {
                    option = document.createElement('option');
                    option.value = models[i];
                    option.text = models[i];
                    select.appendChild(option);
                }
                frm.appendChild(select);
                frm.appendChild(s);
            }
            if (value=="VEHICLE SET CONDITION_ID"){
                var select = document.createElement("select");
                select.name = "condition";
                select.id = "condition"; 
                for (i=0; i<=conditions.length-1; i++) {
                    option = document.createElement('option');
                    option.value = conditions[i];
                    option.text = conditions[i];
                    select.appendChild(option);
                }
                frm.appendChild(select);
                frm.appendChild(s);
            }
            if (value=="CUSTOMER_VEHICLE SET CUSTOMER_ID"){
                var select = document.createElement("select");
                select.name = "customer";
                select.id = "customer"; 
                for (i=0; i<=customers.length-1; i++) {
                    option = document.createElement('option');
                    option.value = customers[i];
                    option.text = customers[i];
                    select.appendChild(option);
                }
                frm.appendChild(select);
                frm.appendChild(s);
            }
            if (value=="VEHICLE SET ACTIVE_ID"){
                var select = document.createElement("select");
                select.name = "status";
                select.id = "status"; 
                for (i=0; i<=statuses.length-1; i++) {
                    option = document.createElement('option');
                    option.value = statuses[i];
                    option.text = statuses[i];
                    select.appendChild(option);
                }
                frm.appendChild(select);
                frm.appendChild(s);
            } 
            if (value=="POLICY SET INSURANCE_ID"){
                var select = document.createElement("select");
                select.name = "company";
                select.id = "company"; 
                for (i=0; i<=companies.length-1; i++) {
                    option = document.createElement('option');
                    option.value = companies[i];
                    option.text = companies[i];
                    select.appendChild(option);
                }
                frm.appendChild(select);
                frm.appendChild(s);
            } 
            if (value=="POLICY SET POLICY_ID"){
                var select = document.createElement("select");
                select.name = "policy";
                select.id = "policy"; 
                for (i=0; i<=policies.length-1; i++) {
                    option = document.createElement('option');
                    option.value = policies[i];
                    option.text = policies[i];
                    select.appendChild(option);
                }
                frm.appendChild(select);
                frm.appendChild(s);
            }        
        }
    </script>
</html>